<footer>
  <small>
  Find us on <a  target="_blank" href="https://bsky.app/profile/rapidresponsechoir.bsky.social">
  BlueSky</a> and <a  target="_blank" href="https://www.instagram.com/rapidresponsechoir/">Instagram</a>
  </small>
</footer>
