<footer>
  <small>
    Have an update to suggest? Check out the <a href="{{ pkg.repository.url }}">GitHub project</a>. Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
  </small>
</footer>
