---
title: Songs
metaDescription: The page lists all the songs by category
layout: layouts/base.njk
eleventyNavigation:
  key: Songs
  order: 2
pagination:
  data: collections.categories
  size: Infinity
excluded: [ "attic", "archive", "deprecated", "sandbox" ]
permalink: /songs/index.html

---

<h1>{{ title }}</h1>

<section>
  {% for category in pagination.items %}
    {% if category not in excluded %}
      <article>
<!--        <h2><u>{{ category | safe }}</u></h2>  
  -- Category is not useful until we have multiple categories
  --> 

        {% for song in collections.categories[category] | sort(attribute='title') %}
        <h4 style="font-size: 24px; font-weight: bold;">
          <a href="{{ song.page.url | url }}">
            {% if song.title %}
              {{ song.title }}
            {% else %}
              Untitled
            {% endif %}
          </a>
          <span style="font-size: 14px; font-weight: normal;">
            {% if song.tags %}
              {% for tag in song.tags | sort %}
                {%- if tag != "song" -%}
                  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                  <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                {%- endif -%}
              {% endfor %}
            {% endif %}
          </span>
        </h4>
        {% endfor %}

      </article>
    {% endif %}
  {% endfor %}
  <nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
  </nav>
</section>