---
layout: layouts/base.njk
section: event
---

<article>
  <h1>{{ title }}</h1>

  <h3>{{ summary | safe }} </h3>
  {{ content | safe }}
   
  <h2>Song list</h2>
  {% for song in songs | sort(attribute='title') %}
    <h4 style="font-size: 24px; font-weight: bold;">
      <a href="/songs/{{ song | slug | url }}">
        {{ song }}
      </a>
    </h4>
  {% endfor %}
</article>

<nav>
  <a href="{{ '/events/' | url }}">Event index</a>
</nav>
