---
layout: layouts/base.njk
section: song
---

<!-- section songs? --> 

<article>
  <h1>{{ title }}</h1>
  {% if hints %}
  <p>
    <small>
      Performance hints: {{ hints | safe }}
    </small>
  </p>
  {% endif %}
  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "song" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

  {{ content | safe }}


  <p>
    <i><b>Credits</b>: {{credits | default('Uncredited')}}</i><br>
    {% if notes %}<b>Notes</b>: {{notes |safe}}<br>{% endif %}
    {% if teachability %}<b>Teachability</b>: {{teachability |safe}}<br>{% endif %}
    {% if audience_participation %}<b>Initial participation</b>:{{audience_participation |safe}}<br>{% endif %}
  </p>
  {% if resources %}
  <ul>
    {% for resource in resources %}
        <li><a target="_blank" href="{{ resource.url }}">{{ resource.text }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

</article>

<nav>
  <a href="{{ '/songs/' | url }}">← Song index</a>
</nav>
