---
layout: layouts/base.njk
section: songs
---

<section>

<p>Below are songs often song by the RRC. Click on the title to find the
lyrics and links to recordings of the song.</p>

<p>Each song is tagged by themes. Click on any tag to find
more songs on that theme, such as <span style="font-size: 14px; font-weight: normal;" >
    <a href="/tags/protest" rel="tag">protest</a>
  </span>.  Use the
<span style="font-size: 14px; font-weight: normal;" >
    <a href="/tags/singing resistance" rel="tag">singing resistance</a>
  </span> tag to find SR songs we use.</p>

<p>Songs that the RRC knows well are tagged 
<span style="font-size: 14px; font-weight: normal;" >
    <a href="/tags/core" rel="tag">core</a>
  </span>
– meaning we can sing them without much
notice. New RRC members are encouraged to learn 
<span style="font-size: 14px; font-weight: normal;" >
    <a href="/tags/core" rel="tag">core</a>
  </span>
songs.</p>

  {% for category in pagination.items %}
    {% if category not in excluded %}
      <article>
<!--        <h2><u>{{ category | safe }}</u></h2>  
  -- Category is not useful until we have multiple categories
  --> 

        {% for song in collections.categories[category] | sort(attribute='title') %}
        <h4 style="font-size: 24px; font-weight: bold;">
          <a href="{{ song.page.url | url }}">
            {% if song.title %}
              {{ song.title }}
            {% else %}
              Untitled
            {% endif %}
          </a>
          <span style="font-size: 14px; font-weight: normal;">
            {% if song.tags %}
              {% for tag in song.tags | sort %}
                {%- if tag != "song" -%}
                  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                  <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                {%- endif -%}
              {% endfor %}
            {% endif %}
          </span>
        </h4>
        {% endfor %}

      </article>
    {% endif %}
  {% endfor %}
  <nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
  </nav>
</section>
